Package: dev.callmeecho.speedyanims
Name: SpeedyAnims
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: CallMeEchoCodes
Author: CallMeEchoCodes
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
