Package: dev.callmeecho.speedyanims
Name: SpeedyAnims
Version: 1.0.0
Architecture: iphoneos-arm
Description: Make iOS system animations faster.
Maintainer: CallMeEcho
Author: CallMeEcho
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
